<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Male</key>
	<dict>
		<key>1900</key>
		<string>118.3</string>
		<key>1901</key>
		<string>117.3</string>
		<key>1902</key>
		<string>116.4</string>
		<key>1903</key>
		<string>115.5</string>
		<key>1904</key>
		<string>114.5</string>
		<key>1905</key>
		<string>113.6</string>
		<key>1906</key>
		<string>112.7</string>
		<key>1907</key>
		<string>111.7</string>
		<key>1908</key>
		<string>110.7</string>
		<key>1909</key>
		<string>109.8</string>
		<key>1910</key>
		<string>109.0</string>
		<key>1911</key>
		<string>108.1</string>
		<key>1912</key>
		<string>107.1</string>
		<key>1913</key>
		<string>106.3</string>
		<key>1914</key>
		<string>105.4</string>
		<key>1915</key>
		<string>104.5</string>
		<key>1916</key>
		<string>103.5</string>
		<key>1917</key>
		<string>102.7</string>
		<key>1918</key>
		<string>101.8</string>
		<key>1919</key>
		<string>101.0</string>
		<key>1920</key>
		<string>100.1</string>
		<key>1921</key>
		<string>99.3</string>
		<key>1922</key>
		<string>98.4</string>
		<key>1923</key>
		<string>97.6</string>
		<key>1924</key>
		<string>96.8</string>
		<key>1925</key>
		<string></string>
		<key>1926</key>
		<string></string>
		<key>1927</key>
		<string></string>
		<key>1928</key>
		<string></string>
		<key>1929</key>
		<string></string>
		<key>1930</key>
		<string></string>
		<key>1931</key>
		<string></string>
		<key>1932</key>
		<string></string>
		<key>1933</key>
		<string></string>
		<key>1934</key>
		<string></string>
		<key>1935</key>
		<string></string>
		<key>1936</key>
		<string></string>
		<key>1937</key>
		<string></string>
		<key>1938</key>
		<string></string>
		<key>1939</key>
		<string></string>
		<key>1940</key>
		<string></string>
		<key>1941</key>
		<string></string>
		<key>1942</key>
		<string></string>
		<key>1943</key>
		<string></string>
		<key>1944</key>
		<string></string>
		<key>1945</key>
		<string></string>
		<key>1946</key>
		<string></string>
		<key>1947</key>
		<string></string>
		<key>1948</key>
		<string></string>
		<key>1949</key>
		<string></string>
		<key>1950</key>
		<string></string>
		<key>1951</key>
		<string></string>
		<key>1952</key>
		<string></string>
		<key>1953</key>
		<string></string>
		<key>1954</key>
		<string></string>
		<key>1955</key>
		<string></string>
		<key>1956</key>
		<string></string>
		<key>1957</key>
		<string></string>
		<key>1958</key>
		<string></string>
		<key>1959</key>
		<string></string>
		<key>1960</key>
		<string></string>
		<key>1961</key>
		<string></string>
		<key>1962</key>
		<string></string>
		<key>1963</key>
		<string></string>
		<key>1964</key>
		<string></string>
		<key>1965</key>
		<string></string>
		<key>1966</key>
		<string></string>
		<key>1967</key>
		<string></string>
		<key>1968</key>
		<string></string>
		<key>1969</key>
		<string></string>
		<key>1970</key>
		<string></string>
		<key>1971</key>
		<string></string>
		<key>1972</key>
		<string></string>
		<key>1973</key>
		<string></string>
		<key>1974</key>
		<string></string>
		<key>1975</key>
		<string></string>
		<key>1976</key>
		<string></string>
		<key>1977</key>
		<string></string>
		<key>1978</key>
		<string></string>
		<key>1979</key>
		<string></string>
		<key>1980</key>
		<string></string>
		<key>1981</key>
		<string></string>
		<key>1982</key>
		<string></string>
		<key>1983</key>
		<string></string>
		<key>1984</key>
		<string></string>
		<key>1985</key>
		<string></string>
		<key>1986</key>
		<string></string>
		<key>1987</key>
		<string></string>
		<key>1988</key>
		<string></string>
		<key>1989</key>
		<string></string>
		<key>1990</key>
		<string></string>
		<key>1991</key>
		<string></string>
		<key>1992</key>
		<string></string>
		<key>1993</key>
		<string></string>
		<key>1994</key>
		<string></string>
		<key>1995</key>
		<string></string>
		<key>1996</key>
		<string></string>
		<key>1997</key>
		<string></string>
		<key>1998</key>
		<string></string>
		<key>1999</key>
		<string></string>
		<key>2000</key>
		<string></string>
		<key>2001</key>
		<string></string>
		<key>2002</key>
		<string></string>
		<key>2003</key>
		<string></string>
		<key>2004</key>
		<string></string>
		<key>2005</key>
		<string></string>
		<key>2006</key>
		<string></string>
		<key>2007</key>
		<string></string>
		<key>2008</key>
		<string></string>
		<key>2009</key>
		<string></string>
		<key>2010</key>
		<string></string>
		<key>2011</key>
		<string></string>
		<key>2012</key>
		<string></string>
		<key>2013</key>
		<string></string>
		<key>2014</key>
		<string></string>
		<key>2015</key>
		<string></string>
		<key>2016</key>
		<string></string>
		<key>2017</key>
		<string></string>
		<key>2018</key>
		<string></string>
		<key>2019</key>
		<string></string>
		<key>2020</key>
		<string></string>
		<key>2021</key>
		<string></string>
		<key>2022</key>
		<string></string>
		<key>2023</key>
		<string></string>
		<key>2024</key>
		<string></string>
		<key>2025</key>
		<string></string>
		<key>2026</key>
		<string></string>
		<key>2027</key>
		<string></string>
		<key>2028</key>
		<string></string>
		<key>2029</key>
		<string></string>
		<key>2030</key>
		<string></string>
		<key>2031</key>
		<string></string>
		<key>2032</key>
		<string></string>
		<key>2033</key>
		<string></string>
		<key>2034</key>
		<string></string>
		<key>2035</key>
		<string></string>
		<key>2036</key>
		<string></string>
		<key>2037</key>
		<string></string>
		<key>2038</key>
		<string></string>
		<key>2039</key>
		<string></string>
		<key>2040</key>
		<string></string>
		<key>2041</key>
		<string></string>
		<key>2042</key>
		<string></string>
		<key>2043</key>
		<string></string>
		<key>2044</key>
		<string></string>
		<key>2045</key>
		<string></string>
		<key>2046</key>
		<string></string>
		<key>2047</key>
		<string></string>
		<key>2048</key>
		<string></string>
		<key>2049</key>
		<string></string>
		<key>2050</key>
		<string></string>
		<key>2051</key>
		<string></string>
		<key>2052</key>
		<string></string>
		<key>2053</key>
		<string></string>
		<key>2054</key>
		<string></string>
		<key>2055</key>
		<string></string>
		<key>2056</key>
		<string></string>
		<key>2057</key>
		<string></string>
		<key>2058</key>
		<string></string>
		<key>2059</key>
		<string></string>
		<key>2060</key>
		<string></string>
		<key>2061</key>
		<string></string>
		<key>2062</key>
		<string></string>
		<key>2063</key>
		<string></string>
		<key>2064</key>
		<string></string>
		<key>2065</key>
		<string></string>
		<key>2066</key>
		<string></string>
		<key>2067</key>
		<string></string>
		<key>2068</key>
		<string></string>
		<key>2069</key>
		<string></string>
		<key>2070</key>
		<string></string>
		<key>2071</key>
		<string></string>
		<key>2072</key>
		<string></string>
		<key>2073</key>
		<string></string>
		<key>2074</key>
		<string></string>
		<key>2075</key>
		<string></string>
		<key>2076</key>
		<string></string>
		<key>2077</key>
		<string></string>
		<key>2078</key>
		<string></string>
		<key>2079</key>
		<string></string>
		<key>2080</key>
		<string></string>
		<key>2081</key>
		<string></string>
		<key>2082</key>
		<string></string>
		<key>2083</key>
		<string></string>
		<key>2084</key>
		<string></string>
		<key>2085</key>
		<string></string>
		<key>2086</key>
		<string></string>
		<key>2087</key>
		<string></string>
		<key>2088</key>
		<string></string>
		<key>2089</key>
		<string></string>
		<key>2090</key>
		<string></string>
	</dict>
	<key>Female</key>
	<dict>
		<key>1900</key>
		<string>72</string>
		<key>1901</key>
		<string>70</string>
		<key>1902</key>
		<string></string>
		<key>1903</key>
		<string></string>
		<key>1904</key>
		<string></string>
		<key>1905</key>
		<string></string>
		<key>1906</key>
		<string></string>
		<key>1907</key>
		<string></string>
		<key>1908</key>
		<string></string>
		<key>1909</key>
		<string></string>
		<key>1910</key>
		<string></string>
		<key>1911</key>
		<string></string>
		<key>1912</key>
		<string></string>
		<key>1913</key>
		<string></string>
		<key>1914</key>
		<string></string>
		<key>1915</key>
		<string></string>
		<key>1916</key>
		<string></string>
		<key>1917</key>
		<string></string>
		<key>1918</key>
		<string></string>
		<key>1919</key>
		<string></string>
		<key>1920</key>
		<string></string>
		<key>1921</key>
		<string></string>
		<key>1922</key>
		<string></string>
		<key>1923</key>
		<string></string>
		<key>1924</key>
		<string></string>
		<key>1925</key>
		<string></string>
		<key>1926</key>
		<string></string>
		<key>1927</key>
		<string></string>
		<key>1928</key>
		<string></string>
		<key>1929</key>
		<string></string>
		<key>1930</key>
		<string></string>
		<key>1931</key>
		<string></string>
		<key>1932</key>
		<string></string>
		<key>1933</key>
		<string></string>
		<key>1934</key>
		<string></string>
		<key>1935</key>
		<string></string>
		<key>1936</key>
		<string></string>
		<key>1937</key>
		<string></string>
		<key>1938</key>
		<string></string>
		<key>1939</key>
		<string></string>
		<key>1940</key>
		<string></string>
		<key>1941</key>
		<string></string>
		<key>1942</key>
		<string></string>
		<key>1943</key>
		<string></string>
		<key>1944</key>
		<string></string>
		<key>1945</key>
		<string></string>
		<key>1946</key>
		<string></string>
		<key>1947</key>
		<string></string>
		<key>1948</key>
		<string></string>
		<key>1949</key>
		<string></string>
		<key>1950</key>
		<string></string>
		<key>1951</key>
		<string></string>
		<key>1952</key>
		<string></string>
		<key>1953</key>
		<string></string>
		<key>1954</key>
		<string></string>
		<key>1955</key>
		<string></string>
		<key>1956</key>
		<string></string>
		<key>1957</key>
		<string></string>
		<key>1958</key>
		<string></string>
		<key>1959</key>
		<string></string>
		<key>1960</key>
		<string></string>
		<key>1961</key>
		<string></string>
		<key>1962</key>
		<string></string>
		<key>1963</key>
		<string></string>
		<key>1964</key>
		<string></string>
		<key>1965</key>
		<string></string>
		<key>1966</key>
		<string></string>
		<key>1967</key>
		<string></string>
		<key>1968</key>
		<string></string>
		<key>1969</key>
		<string></string>
		<key>1970</key>
		<string></string>
		<key>1971</key>
		<string></string>
		<key>1972</key>
		<string></string>
		<key>1973</key>
		<string></string>
		<key>1974</key>
		<string></string>
		<key>1975</key>
		<string></string>
		<key>1976</key>
		<string></string>
		<key>1977</key>
		<string></string>
		<key>1978</key>
		<string></string>
		<key>1979</key>
		<string></string>
		<key>1980</key>
		<string></string>
		<key>1981</key>
		<string></string>
		<key>1982</key>
		<string></string>
		<key>1983</key>
		<string></string>
		<key>1984</key>
		<string></string>
		<key>1985</key>
		<string></string>
		<key>1986</key>
		<string></string>
		<key>1987</key>
		<string></string>
		<key>1988</key>
		<string></string>
		<key>1989</key>
		<string></string>
		<key>1990</key>
		<string></string>
		<key>1991</key>
		<string></string>
		<key>1992</key>
		<string></string>
		<key>1993</key>
		<string></string>
		<key>1994</key>
		<string></string>
		<key>1995</key>
		<string></string>
		<key>1996</key>
		<string></string>
		<key>1997</key>
		<string></string>
		<key>1998</key>
		<string></string>
		<key>1999</key>
		<string></string>
		<key>2000</key>
		<string></string>
		<key>2001</key>
		<string></string>
		<key>2002</key>
		<string></string>
		<key>2003</key>
		<string></string>
		<key>2004</key>
		<string></string>
		<key>2005</key>
		<string></string>
		<key>2006</key>
		<string></string>
		<key>2007</key>
		<string></string>
		<key>2008</key>
		<string></string>
		<key>2009</key>
		<string></string>
		<key>2010</key>
		<string></string>
		<key>2011</key>
		<string></string>
		<key>2012</key>
		<string></string>
		<key>2013</key>
		<string></string>
		<key>2014</key>
		<string></string>
		<key>2015</key>
		<string></string>
		<key>2016</key>
		<string></string>
		<key>2017</key>
		<string></string>
		<key>2018</key>
		<string></string>
		<key>2019</key>
		<string></string>
		<key>2020</key>
		<string></string>
		<key>2021</key>
		<string></string>
		<key>2022</key>
		<string></string>
		<key>2023</key>
		<string></string>
		<key>2024</key>
		<string></string>
		<key>2025</key>
		<string></string>
		<key>2026</key>
		<string></string>
		<key>2027</key>
		<string></string>
		<key>2028</key>
		<string></string>
		<key>2029</key>
		<string></string>
		<key>2030</key>
		<string></string>
		<key>2031</key>
		<string></string>
		<key>2032</key>
		<string></string>
		<key>2033</key>
		<string></string>
		<key>2034</key>
		<string></string>
		<key>2035</key>
		<string></string>
		<key>2036</key>
		<string></string>
		<key>2037</key>
		<string></string>
		<key>2038</key>
		<string></string>
		<key>2039</key>
		<string></string>
		<key>2040</key>
		<string></string>
		<key>2041</key>
		<string></string>
		<key>2042</key>
		<string></string>
		<key>2043</key>
		<string></string>
		<key>2044</key>
		<string></string>
		<key>2045</key>
		<string></string>
		<key>2046</key>
		<string></string>
		<key>2047</key>
		<string></string>
		<key>2048</key>
		<string></string>
		<key>2049</key>
		<string></string>
		<key>2050</key>
		<string></string>
		<key>2051</key>
		<string></string>
		<key>2052</key>
		<string></string>
		<key>2053</key>
		<string></string>
		<key>2054</key>
		<string></string>
		<key>2055</key>
		<string></string>
		<key>2056</key>
		<string></string>
		<key>2057</key>
		<string></string>
		<key>2058</key>
		<string></string>
		<key>2059</key>
		<string></string>
		<key>2060</key>
		<string></string>
		<key>2061</key>
		<string></string>
		<key>2062</key>
		<string></string>
		<key>2063</key>
		<string></string>
		<key>2064</key>
		<string></string>
		<key>2065</key>
		<string></string>
		<key>2066</key>
		<string></string>
		<key>2067</key>
		<string></string>
		<key>2068</key>
		<string></string>
		<key>2069</key>
		<string></string>
		<key>2070</key>
		<string></string>
		<key>2071</key>
		<string></string>
		<key>2072</key>
		<string></string>
		<key>2073</key>
		<string></string>
		<key>2074</key>
		<string></string>
		<key>2075</key>
		<string></string>
		<key>2076</key>
		<string></string>
		<key>2077</key>
		<string></string>
		<key>2078</key>
		<string></string>
		<key>2079</key>
		<string></string>
		<key>2080</key>
		<string></string>
		<key>2081</key>
		<string></string>
		<key>2082</key>
		<string></string>
		<key>2083</key>
		<string></string>
		<key>2084</key>
		<string></string>
		<key>2085</key>
		<string></string>
		<key>2086</key>
		<string></string>
		<key>2087</key>
		<string></string>
		<key>2088</key>
		<string></string>
		<key>2089</key>
		<string></string>
		<key>2090</key>
		<string></string>
	</dict>
</dict>
</plist>
